<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet Dash</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="row flex-nowrap">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark min-vh-100" style="width: 200px;">
                <a href="/" class="d-flex align-items-center my-2  text-white text-decoration-none">
                    <img src="./assets/vet (1) 2.png" />
                    <span class="fs-4">Vet Dash</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto gap-3">
                    <li>
                        <button @click="currentPage='overview'" class="nav-link text-white fs-6">
                            <i class="bi bi-grid me-2"></i>
                            Overview
                        </button>
                    </li>
                    <li>
                        <button @click="currentPage='appointments'" class="nav-link text-white fs-6">
                            <i class="bi bi-calendar-minus me-2"></i>
                            Appointments
                        </button>
                    </li>
                    <li>
                        <button @click="currentPage='vetSched'" class="nav-link text-white fs-6">
                            <i class="bi bi-person-check-fill me-2"></i>
                            Vet Schedule
                        </button>
                    </li>
                    <li>
                        <button @click="currentPage='settings'" class="nav-link text-white fs-6">
                            <i class="bi bi-gear-fill me-2"></i>
                            Settings
                        </button>
                    </li>
                </ul>
                <hr>
                <div class="px-2">
                    <button class="nav-link text-white fs-6">
                        <i class="bi bi-gear-fill me-2"></i>
                        Settings
                    </button>
                </div>
            </div>

            <div class="modal fade" id="addAppointmentModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Enter Appointment Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">

                            <div class="fs-5 mb-2"> Owner Details </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Owner Name</span>
                                <input type="text" class="form-control" ref="ownerName_Forms" name="ownerName_Forms">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Owner Email</span>
                                <input type="text" class="form-control" ref="ownerEmail_Forms" name="ownerEmail_Forms">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Owner Contact</span>
                                <input type="text" class="form-control" ref="ownerContact_Forms"
                                    name="ownerContact_Forms">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Owner Address</span>
                                <input type="text" class="form-control" ref="ownerAddress_Forms"
                                    name="ownerAddress_Forms">
                            </div>

                            <br>
                            <div class="fs-5 mb-2"> Pet Details </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Pet Name</span>
                                <input type="text" class="form-control" ref="petName_Forms" name="petName_Forms"
                                    :disabled="petID_VALUE!=''">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Pet Date of Birth</span>
                                <input type="date" class="form-control" ref="dateOfBirth_Forms" name="dateOfBirth_Forms"
                                    :disabled="petID_VALUE!=''">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Pet Gender</span>
                                <select class="form-select" id="gender_Forms" ref="gender_Forms"
                                    name="gender_Forms" :disabled="petID_VALUE!=''">
                                    <option value="true">Male</option>
                                    <option value="false">Female</option>
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Pet Species</span>
                                <input type="text" class="form-control" ref="species_Forms" name="species_Forms"
                                    :disabled="petID_VALUE!=''">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Pet Breed</span>
                                <input type="text" class="form-control" ref="breed_Forms" name="breed_Forms"
                                    :disabled="petID_VALUE!=''">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Pet ID</span>
                                <input v-model="petID_VALUE" type="text" class="form-control" ref="petID_Forms"
                                    name="petID_Forms">
                            </div>

                            <br>
                            <div class="fs-5 mb-2"> Visit Details </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Preferred Vet</span>
                                <input type="text" class="form-control" ref="preferredVet_Forms"
                                    name="preferredVet_Forms">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Date Schedule</span>
                                <input type="date" class="form-control" ref="dateTime_Forms" name="dateTime_Forms">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Reason for Visit</span>
                                <input type="text" class="form-control" ref="visitReason_Forms"
                                    name="visitReason_Forms">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Status</span>
                                <select class="form-select" ref="status_Forms" name="status_Forms">
                                    <option value="Scheduled">Scheduled</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Rescheduled">Rescheduled</option>
                                    <option value="Postponed">Postponed</option>
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Other Concerns</span>
                                <textarea class="form-control" ref="otherConcerns_Forms"
                                    name="otherConcerns_Forms"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="addAppointmentOnClick(); fetchQuery()"
                                data-bs-dismiss="modal">Add
                                Appointment</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col d-flex flex-column mt-4 mx-4 mb-4">
                <div v-if="currentPage=='overview'" class="d-flex flex-column">
                    <div class="h3">Overview</div>
                </div>
                <div v-if="currentPage=='appointments'" class="d-flex flex-column flex-grow-1">
                    <div class="h3">Appointments</div>
                    <div class="fs-6 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, sit</div>
                    <div class="card d-flex flex-grow-1">
                        <div class="card-header d-flex flex-row justify-content-between">
                            <div>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#addAppointmentModal"
                                    class="btn btn-outline-primary btn-sm text-nowrap"> <i
                                        class="bi bi-plus-circle-dotted"></i> Add Appointments</button>
                                <button class="btn btn-outline-secondary btn-sm ms-2" @click="fetchQuery()">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>
                            </div>
                            <div class="d-flex flex-row align-items-center gap-3">
                                <input v-if="(appointmentSearchFilter != 'dateTime') && (appointmentSearchFilter != 'createdAt') && (appointmentSearchFilter != 'dateOfBirth')" placeholder="Search Appointments" @change="fetchQuery()"
                                    v-model="appointmentSearchTerm" type="text" class="form-control form-control-sm">
                                <div v-else class="input-group input-group-sm">
                                    <input type="date" v-model="appointmentSearchTerm" class="form-control" placeholder="Username" @change="fetchQuery()">
                                    <span class="input-group-text">to</span>
                                    <input type="date" v-model="appointmentSearchTerm2" class="form-control" placeholder="Server" @change="fetchQuery()">
                                </div>
                                <select v-model="appointmentSearchFilter" class="form-select-sm" style="width: 150px;"
                                    id="select-filters">
                                    <option value="appointmentID">Appointment ID </option>
                                    <option value="dateTime">Date Scheduled</option>
                                    <option value="createdAt">Date Created</option>
                                    <option value="ownerName">Owner Name</option>
                                    <option value="ownerEmail">Owner Email</option>
                                    <option value="ownerContact">Owner Number</option>
                                    <option value="preferredVet">Vet Booked</option>
                                    <option value="status">Status</option>
                                    <option value="petID">Pet ID </option>
                                    <option value="breed">Pet Breed</option>
                                    <option value="species">Pet Species</option>
                                    <option value="dateOfBirth">Pet Birth Date</option>
                                    <option value="petName">Pet Name</option>
                                </select>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id="switch-calendar_list">
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <table class="table table-hover">
                                <thead class="fw-bold">
                                    <td>Schedule</td>
                                    <td>Status</td>
                                    <td>Owner Name</td>
                                    <td>Pet Name</td>
                                    <td>Species</td>
                                    <td>Breed</td>
                                    <td>Preferred Vet</td>
                                    <td>Reason of Visit</td>
                                </thead>
                                <tr v-for="appointment in appointmentlist">
                                    <td>{{appointment.dateTime}}</td>
                                    <td>{{appointment.status}}</td>
                                    <td>{{appointment.ownerName}}</td>
                                    <td>{{appointment.petName}}</td>
                                    <td>{{appointment.species}}</td>
                                    <td>{{appointment.breed}}</td>
                                    <td>{{appointment.preferredVet}}</td>
                                    <td>{{appointment.visitReason}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">PAGES</div>
                    </div>
                </div>
                <div v-if="currentPage=='vetSched'" class="d-flex flex-column">
                    <div class="h3">Vet Schedules</div>
                </div>
                <div v-if="currentPage=='settings'" class="d-flex flex-column">
                    <div class="h3">Settings</div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./js/main.js"></script>

</body>

</html>
